In [8]:
##Importing the Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [9]:
##we have to type the URL from where we are webscraping
url = "https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?%22%20%5Cl%22countries"
data = requests.get(url)
soup = BeautifulSoup(data.text,'html5lib')

In [10]:
covid_dict = {}
div = soup.find_all("div", {"id": "maincounter-wrap"})
for i in div:
  content_div = i.find("div",{"class":"maincounter-number"})
  covid_dict[i.find("h1").text.replace(":","").strip()] = content_div.find("span").text.strip()
print(covid_dict)

{'Coronavirus Cases': '162,261,657', 'Deaths': '3,364,716', 'Recovered': '140,134,491'}

In [11]:
tables = soup.find_all('table')
table_header = tables[0].find_all('th')
table_head = []
for i in range(15):
  if i != 0:
    table_head.append(table_header[i].text.replace("\n","").replace("\xa0",""))
print(table_head)

['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'TotCases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop', 'Population']

In [12]:
Covid_data = pd.DataFrame(columns=table_head)
for row in tables[0].tbody.find_all('tr'):
  col = row.find_all('td')
  if (col != []):
    country = col[1].text.strip()
    totalCases = col[2].text.strip()
    newCases = col[3].text.strip()
    totalDeaths = col[4].text.strip()
    newDeaths = col[5].text.strip()
    totalRecovered = col[6].text.strip()
    newRecovered = col[7].text.strip()
    activeCases = col[8].text.strip()
    serious = col[9].text.strip()
    totalCases_per_m = col[10].text.strip()
    deaths = col[11].text.strip()
    totalTests = col[12].text.strip()
    tests_per_m = col[13].text.strip()
    population = col[14].text.strip()
    Covid_data = Covid_data.append({"Country,Other":country,"TotalCases":totalCases,"NewCases":newCases,
                                    "TotalDeaths":totalDeaths,"NewDeaths":newDeaths,"TotalRecovered":totalRecovered,
                                    "NewRecovered":newRecovered,"ActiveCases":activeCases,"Serious,Critical":serious,
                                    "TotCases/1M pop":totalCases_per_m,"Deaths/1M pop":deaths,"TotalTests":totalTests,
                                    "Tests/1M pop":tests_per_m,"Population":population},ignore_index=True)

In [6]:
Covid_data.drop(Covid_data.index[:7],inplace=True)

In [7]:
Covid_data.to_csv("Covid_data.csv",index=False)

In [18]:
df=pd.read_csv('/content/Covid_data.csv')

In [19]:
df

        Country,Other   TotalCases  ... Tests/1M pop     Population
0               World  162,255,310  ...          NaN            NaN
1                 USA   33,630,191  ...    1,391,302    332,680,263
2               India   24,320,668  ...      223,698  1,391,716,282
3              Brazil   15,436,827  ...      219,625    213,864,852
4              France    5,841,129  ...    1,226,555     65,398,484
..                ...          ...  ...          ...            ...
218  Marshall Islands            4  ...          NaN         59,535
219             Samoa            3  ...          NaN        199,553
220      Saint Helena            2  ...          NaN          6,093
221        Micronesia            1  ...          NaN        116,064
222             China       90,815  ...      111,163  1,439,323,776

[223 rows x 14 columns]